<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.backend.mapper.MomentMapper">

    <update id="increaseLikeCount">
        UPDATE moment
        SET like_count = like_count + 1
        WHERE moment_id = #{momentId}
    </update>
    <update id="decreaseLikeCount">
        UPDATE moment
        SET like_count = like_count - 1
        WHERE moment_id = #{momentId}
    </update>


</mapper>
