<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间必须与Mapper接口的全限定名一致 -->
<mapper namespace="com.ruoyi.jank.mapper.CategoryMapper">
    <select id="selectById" resultType="com.ruoyi.jank.domain.Category">
        SELECT * FROM category WHERE category_id = #{category_id}
    </select>

    <update id="updateById" parameterType="com.ruoyi.jank.domain.Category">
        UPDATE category
        SET
            name = #{et.name},
            description = #{et.description},
            update_time = NOW()
        WHERE
            category_id = #{et.categoryId}
    </update>
    <delete id="deleteById" parameterType="com.ruoyi.jank.domain.Category">
            DELETE FROM category WHERE category_id = #{category_id}
    </delete>
</mapper>