<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间必须与Mapper接口的全限定名一致 -->
<mapper namespace="com.ruoyi.jank.mapper.CommentMapper">
    <select id="selectById" resultType="com.ruoyi.jank.domain.Comment">
        SELECT * FROM comment WHERE comment_id = #{comment_id}
    </select>

    <update id="updateById" parameterType="com.ruoyi.jank.domain.Comment">
        UPDATE comment
        SET
            content = #{et.content},
            user_id = #{et.userId},
            post_id = #{et.postId},
            update_time = NOW()
        WHERE
            comment_id = #{et.commentId}
    </update>
    <delete id="deleteById" parameterType="com.ruoyi.jank.domain.Comment">
        DELETE FROM comment WHERE comment_id = #{comment_id}
    </delete>

    <!-- CommentMapper.xml -->
    <resultMap id="CommentWithUserAndPostResult" type="Comment">
        <id     property="commentId"       column="id"      />
        <!-- 其他comment字段映射 -->
        <result property="content" column="content" />
        <result property="createTime" column="create_time" />

        <!-- 关联用户信息 -->
        <association property="user" javaType="com.ruoyi.jank.domain.CommonUser">
            <id     property="userId"   column="user_id"  />
            <result property="username" column="username" />
        </association>

        <!-- 关联文章信息 -->
        <association property="post" javaType="com.ruoyi.jank.domain.Post">
            <id     property="postId"    column="post_id"   />
            <result property="title"     column="title"    />
            <result property="contentHtml" column="content_html" />
        </association>
    </resultMap>

    <select id="selectCommentWithUserAndPost" resultMap="CommentWithUserAndPostResult">
        SELECT
        c.content,c.create_time,
        u.user_id, u.username,
        p.post_id, p.title, p.content_html
        FROM
        comment c
        LEFT JOIN
        user u ON c.user_id = u.user_id
        LEFT JOIN
        post p ON c.post_id = p.post_id
        ORDER BY c.create_time DESC  <!-- 按 createTime 降序（从晚到早） -->

    </select>
</mapper>