<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jank.mapper.CommonUserMapper">
<select id="countByUsername" resultType="int" parameterType="com.ruoyi.jank.domain.CommonUser">
    SELECT COUNT(*) FROM user
    WHERE username = #{username}
</select>


    <select id="getUsernameById" resultType="java.lang.String">
        select username from user where user_id = #{userId}
    </select>
    <update id="updateFreezeStatus">
        update user set freeze = #{freeze} where user_id = #{userId}
    </update>

    <resultMap id="CommentWithUserAndPostResult" type="CommonUser">
        <id     property="userId"       column="user_id"      />
        <!-- 其他user字段映射 -->
        <result property="email" column="email" />
        <result property="username" column="username" />
        <result property="address" column="address" />
        <result property="freeze" column="freeze" />
        <result property="createTime" column="create_time" />

    </resultMap>

    <select id="selectCommentUserList" resultMap="CommentWithUserAndPostResult">
        SELECT
        u.email, u.username,u.address,u.freeze
        FROM
        user u
        ORDER BY u.create_time DESC  <!-- 按 createTime 降序（从晚到早） -->

    </select>
</mapper>